@import "../../../styles.scss" ;

section {
  display: flex;
  gap: 5rem;
  align-items: center;
  width: 100%;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;


  input{
    height: 2.625rem;
    width: 22.5rem;
    color: $text-color;
    font-size: 2rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: $secondary-color;
  }

  #copy-icon{
    height: 21px;
    width: 24px;
    cursor: pointer;
    stroke: $strong-color;

    &:hover{
      stroke: #fff;
    }
  }


}


