@import "../../../styles.scss" ;

section {
  display: flex;

  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;



  input{
    height: 2.625rem;
    width: 22.5rem;
    color: $text-color;
    font-size: 2rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: $secondary-color;
  }

  #copy{
    display: block;
    margin-left: -0.875rem;
    top: 0;
    right: 0;
    color: $strong-color;
    font-size: 1.125rem;
  }

  #copy-div{
    display: flex;
    align-items: center;
    width: 6.375rem;
    gap: 0.25rem;
  }

  #copy-icon{
    height: 21px;
    width: 24px;
    cursor: pointer;
    stroke: $strong-color;
    position: fixed;
    margin-left: 3.5rem;
    &:hover{
      stroke: #fff;
    }
  }


}


