@import "../../../styles.scss" ;

section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img{
    height: 21px;
    width: 24px;
    cursor: pointer;
  }

  input{
    height: 2.625rem;
    color: $text-color;
    font-size: 2rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: $secondary-color;
  }

}


