:root{
  --body-bg : #111016;
  --card-bg : #24232b;
  --light-green: #a4ffaf;
  --slider-thumb: #e6e5ed;
  --strenth-check-bg: #18171f;
  --strength-check-range: #facf67;
  --text-color: #efeef4;
  --text-fade: #7b7986;
}

.cardWrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 33rem;
}

.cardWrapper p{
  color: var(--text-fade);
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 600;
}

.input-container{
  width: 100%;
  height: 5rem;
  background: var(--card-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.input-container #generatedPw{
  color: var(--text-color);
  font-size: 30px;
  font-weight: 500;
}

.copyIcon {
  width: 21px;
  height: 24px;
}

.settings {
  background: var(--card-bg);
  padding: 2rem 1.5rem;
  width: 100%;
}

.settings .charlength{
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: red;
  height: 2rem;
}

.settings .charlength p:first-child {
  color: var(--text-color);
  font-size: 18px;
}
.settings .charlength p:last-child {
  color: var(--light-green);
  font-size: 30px;
  font-weight: 600;
}

.settings #char-range {
  width: 100%;
  height: 6px;
  -webkit-appearance: none;
  appearance: none;
  background: var(--strenth-check-bg);
  background-image: linear-gradient(var(--light-green), var(--light-green));
  background-size: 50%, 100%;
  background-repeat: no-repeat;
  margin: 1rem 0 1.5rem 0;
}

/////////// FOR CHROME BROWSWER ///////////////
.settings #char-range::-webkit-slider-thumb{
  -webkit-appearnace: none;
  height: 20px;
  width: 20px;
  border: 2px solid var(--slider-thumb);
  border-radius: 50%;
  background: var(--slider-thumb);
  cursor: pointer;
}

.settings #char-range::-webkit-slider-thumb:hover{
  border: 2px solid var(--light-green);
  background: var(--body-bg);
}

.settings #char-range::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/////////// FOR MOZILLA BROWSWER ///////////////
.settings #char-range::-moz-range-thumb {
  -webkit-appearnace: none;
  height: 20px;
  width: 20px;
  border: 2px solid var(--slider-thumb);
  border-radius: 50%;
  background: var(--slider-thumb);
  cursor: pointer;
}

.settings #char-range::-moz-range-thumb:hover {
  border: 2px solid var(--light-green);
  background: var(--body-bg);
}

.settings #char-range::-moz-range-progress {
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

// .settings #char-range::-webkit-slider-thumb {
//     width: 20px;
//     height: 20px;
//     background: var(--slider-thumb);
//     cursor: pointer;
//     border-radius: 50%;
//     border: none;
//     // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
// }

.settings #char-range::-webkit-slider-runnable-track {
  background: var(--light-green);
}
.settings #char-range::-moz-range-track {
  background: var(--light-green);
}

////////////// CUSTOM CHECKBOXEX //////////////
.settings .criterias {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 1.5rem;
}

.settings .criterias .firstcheck,
.settings .criterias .secondcheck,
.settings .criterias .thirdcheck,
.settings .criterias .fourthcheck {
  display: flex;
  gap: 20px;
  align-items: center;
}

.settings .criterias .firstcheck input,
.settings .criterias .secondcheck input,
.settings .criterias .thirdcheck input,
.settings .criterias .fourthcheck input {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--strenth-check-bg);
  border: 2px solid var(--light-green);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.settings .criterias .firstcheck input::after,
.settings .criterias .secondcheck input::after,
.settings .criterias .thirdcheck input::after,
.settings .criterias .fourthcheck input::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  color: var(--body-bg);
  display: none;
}

.settings .criterias .firstcheck input:hover,
.settings .criterias .secondcheck input:hover,
.settings .criterias .thirdcheck input:hover,
.settings .criterias .fourthcheck input:hover {
  background: var(--card-bg);
}

.settings .criterias .firstcheck input:checked,
.settings .criterias .secondcheck input:checked,
.settings .criterias .thirdcheck input:checked,
.settings .criterias .fourthcheck input:checked {
  background: var(--light-green);
}

.settings .criterias .firstcheck input:checked::after,
.settings .criterias .secondcheck input:checked::after,
.settings .criterias .thirdcheck input:checked::after,
.settings .criterias .fourthcheck input:checked::after {
  display: block;
}

.settings .criterias .firstcheck label,
.settings .criterias .secondcheck label,
.settings .criterias .thirdcheck label,
.settings .criterias .fourthcheck label {
  font-size: 18.5px;
}

.settings .pwStrengthCheck {
  width: 100%;
  height: 4.5rem;
  background: var(--strenth-check-bg);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}

.settings .pwStrengthCheck > p{
  height: 4.5rem;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.settings .pwStrengthCheck .strChecker{
  display: flex;
  // width: 32%;
  // background: red;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.settings .pwStrengthCheck .strChecker > p{
  font-size: 23px;
  font-weight: 500;
  color: var(--text-color);
  height: 3rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.settings .pwStrengthCheck .strChecker .strengthbars{
  display: flex;
  gap: 7px;
}

.settings .pwStrengthCheck .strChecker .strengthbars .bar{
  width: 10px;
  height: 28px;
  border: 2px solid var(--text-color);
}


.settings button {
  width: 100%;
  height: 4rem;
  background: var(--light-green);
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  border: 2px solid var(--light-green);
}
.settings svg {
  width: 11px;
  height: 12x;
}

.settings button:hover{
  color: var(--light-green);
  background: var(--strenth-check-bg);
}


@media only screen and (max-width: 533px) {
  .cardWrapper {
      width: 22rem;
  }

  .cardWrapper p{
      font-size: 17px;
  }

  .copyIcon {
      width: 17.5px;
      height: 20px;
  }

  .settings .charlength p:first-child {
      font-size: 15px;
  }
  .settings .charlength p:last-child {
      font-size: 24px;
  }

  .settings .criterias {
      gap: 14px;
  }

  .settings .criterias .firstcheck input,
  .settings .criterias .secondcheck input,
  .settings .criterias .thirdcheck input,
  .settings .criterias .fourthcheck input {
      width: 18px;
      height: 18px;
  }

  .settings .criterias .firstcheck label,
  .settings .criterias .secondcheck label,
  .settings .criterias .thirdcheck label,
  .settings .criterias .fourthcheck label {
      font-size: 15.5px;
  }

  .settings .pwStrengthCheck {
      height: 3.5rem;
  }

  .settings .pwStrengthCheck > p{
      font-size: 16px;
      height: 3.5rem;
  }

  .settings .pwStrengthCheck .strChecker{
      height: 3.5rem;
  }

  .settings .pwStrengthCheck .strChecker > p{
      font-size: 17px;
  }

  .settings button {
      height: 3.5rem;
      font-size: 15px;
  }
}
