<div class="settings">
  <div class="char-length">
      <p>Character Length</p>
      <p class="char-length"> {{ charLength }}</p>
  </div>
  <input class="progressBar" type="range" name="char-range" id="char-range" min="0" max="20" [(ngModel)]="charLength" autocomplete="off">
  <div class="criterias">
      <div class="firstcheck">
          <input type="checkbox" name="uppercase-included" id="uppercase-included" [(ngModel)]="uppercase">
          <label for="uppercase-included">Include Uppercase Letters</label>
      </div>
      <div class="secondcheck">
          <input type="checkbox" name="lowerCaseIncluded" id="lowercase-included" [(ngModel)]="lowercase" >
          <label for="lowercase-included">Include Lowercase Letters</label>
      </div>
      <div class="thirdcheck">
          <input type="checkbox" name="numbersIncluded" id="numbers-included" [(ngModel)]="numbers">
          <label for="numbers-included">Include Numbers</label>
      </div>
      <div class="fourthcheck">
          <input type="checkbox" name="symbolsIncluded" id="symbols-included" [(ngModel)]="symbols">
          <label for="symbols-included">Include Symbols</label>
      </div>
  </div>
  <div class="strengthCheck">
    <p>STRENGTH</p>
    <div class="strChecker">
      <p>{{ passwordStrength | uppercase }}</p>
      <div class="strengthbars">
          @if(passwordStrength === 'Too Weak'){
              <div class="bar" style="background: #f64a4a; border-color: #f64a4a;"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
          }
        </div>
        <div class="strengthbars">
            @if(passwordStrength === 'Weak'){
                <div class="bar" style="background: #fb7c58; border-color: #fb7c58;"></div>
                <div class="bar" style="background: #fb7c58; border-color: #fb7c58;"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            }
        </div>
        <div class="strengthbars">
            @if(passwordStrength === 'Medium'){
                <div class="bar" style="background: #f8cd65; border-color: #f8cd65;"></div>
                <div class="bar" style="background: #f8cd65; border-color: #f8cd65;"></div>
                <div class="bar" style="background: #f8cd65; border-color: #f8cd65;"></div>
                <div class="bar"></div>
            }
        </div>
        <div class="strengthbars">
            @if(passwordStrength === 'Strong'){
                <div class="bar" style="background: #a4ffaf; border-color: #a4ffaf;"></div>
                <div class="bar" style="background: #a4ffaf; border-color: #a4ffaf;"></div>
                <div class="bar" style="background: #a4ffaf; border-color: #a4ffaf;"></div>
                <div class="bar" style="background: #a4ffaf; border-color: #a4ffaf;"></div>
            }
        </div>
      </div>
  </div>
  <button (click)="generatePassword()">
    GENERATE
    <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 15"><path fill="#24232C" d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"/></svg>
  </button>
</div>
