/* You can add global styles to this file, and also import other style files */
$strong-color: #A4FFAF;
$medium-color: #F8CD65;
$tooweak-color: #FB7C58;
$weak-color: #F64A4A;
$primary-color: #18171F;
$secondary-color: #24232C;
$text-color: #E6E5EA;
$header-txtcolor: #817D92;


:root{
  --body-bg : #111016;
  --card-bg : #24232b;
  --light-green: #a4ffaf;
  --slider-thumb: #e6e5ed;
  --strenth-check-bg: #18171f;
  --strength-check-range: #facf67;
  --text-color: #efeef4;
  --text-fade: #7b7986;
  --dark-orange: #f64a4a;
  --light-orange: #fb7c58;
  --light-yellow: #f8cd65;
}


.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
  font-family: 'jetbrains-mono', monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

